@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmployManagement.Models.Department

<form asp-controller="Department" asp-action="UpdateDepartmentById">
    <div class="form">
        <label>Id</label>
        <input type="number" readonly class="form-control" placeholder="Enter Your Department Id No."
               asp-for="Id" />
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter Name"
               asp-for="Name" />
               </div>
    <div class="form-group">
        <label>Branch</label>
        <input type="text" class="form-control" placeholder="Enter Your Department Branch"
               asp-for="Branch" />
    </div>
    <div class="form-group">
        <label>Total Employee</label>
        <input type="number" class="form-control" placeholder="Enter Total Employee"
               asp-for="TotalEmployee"/>
     </div>
     <table>
         <thead>
             <tr>
             <th>Employee Name</th>

             </tr>
         </thead>
         <tbody>
             @if (Model.Employees !=null)
            {
                @foreach (EmployManagement.Models.Employee item in Model.Employees)
                {
                    <tr>
                        <td>@item.Name</td>
                        </tr>
                }
            }
        </tbody>
     </table>
    <button>
        Submit
    </button>

</form>

