@model EmployManagement.Models.Employee
<style>
    body {
        background-image: url("https://static.vecteezy.com/system/resources/previews/001/984/861/original/abstract-blue-geometric-circles-overlapping-background-with-light-blue-free-vector.jpg");
    }

    .button {
        width: 37%;
        padding: 10px;
        margin: 10px -40px;
        background-color: blue;
        color: white;
    }





    input[type=text] {
        width: 30%;
        background-color: hotpink;
        color: white;
        box-sizing: border-box;
        border: 2px solid green;
        border-radius: 4px;
        text-align: center;
    }

    input[type=number] {
        width: 30%;
        background-color: hotpink;
        color: white;
        box-sizing: border-box;
        border: 2px solid green;
        border-radius: 4px;
        text-align: center;
    }

    input[type=date]{
        width: 30%;
        background-color: hotpink;
        color: white;
        box-sizing: border-box;
        border: 2px solid green;
        border-radius: 4px;
        text-align: center;
    }

    input[type=email] {
        width: 30%;
        background-color: hotpink;
        color: white;
        box-sizing: border-box;
        border: 2px solid green;
        border-radius: 4px;
        text-align: center;
    }
     
    
    
    label {
        color: blue;
        font-family: cursive;
        text-align: center;
    }
</style>
<body>
<form action="AddEmployeeDetails">
    <div class="form">
        <label>Employee Id</label>
        <input type="text" class="form-control" placeholder="Enter Your Employee Id No."
               asp-for="EmployeeId" />
    </div>
    <div class="form">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter Your Name"
               asp-for="Name" />

    </div>
    <div class="form">
        <label>Address</label>
        <input type="text" class="form-control" placeholder="Enter Your Address" 
        asp-for="Address"/>
    </div>
    <div class="form">
        <label>Phone Number</label>
        <input type="number" class="form-control" placeholder="Enter Your Phone Number"
               asp-for="PhoneNumber" />
    </div>
    <div class="form">
        <label>Salary</label>
        <input type="number" class="form-control" placeholder="Enter Your Salary"
               asp-for="Salary" />
    </div>
    <div class="form">
        <label>Birth Date</label>
        <input type="date" class="form-control" placeholder="DBO"
               asp-for="Birthdate" />
    </div>
    <div class="form">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Enter Your Email" asp-for="Email" />
    </div>
        <div class="form" >
        <label>Department</label>
            <select class="form-control" style="background-color:hotpink;width:30% ; color: white;
                    box-sizing: border-box;
                    border: 2px solid green;
                    border-radius: 4px;
                    text-align: center;" asp-for="DepartmentId">
            <option>Select Department</option>

            @foreach(var item in ViewBag.DepartmentList)
            {
                <option value="@item.Id">
                    @item.Name
                    </option>
            }
            </select>
            @*updated*@
    </div>
        <div class="form" >
            <label >Select User</label>
            <select class="form-control" style="background-color:hotpink;width:30% ; color: white;
                    box-sizing: border-box;
                    border: 2px solid green;
                    border-radius: 4px;
                    text-align: center;" asp-for="IdentityUserId">
            <option>Select User</option>

            @foreach(var item in ViewBag.UserList)
            {
                <option value="@item.Id">    
                    @item.Email
                    </option>
            }
        </select>
        </div>

            <button class="button">Submit</button>

</form>
</body>